{% extends 'base.html' %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1">
        <div class="content">
            <div class="posts">
                <h1 class="content-subhead">
                    {% block pagetitle %}Posts{% endblock %}
                </h1>
                {% for post in posts|sort(attribute='date', reverse=True) %}
                <section class="post">
                    <header class="post-header">
                        <h3><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h3>
                        {{ post.excerpt }}
                        <p class="post-meta">
                            {% if post.categories %}
                            in
                            {% for category in post.categories %}
                            <a href="{{ category.url }}">{{ category.name }}</a> {% if loop.last%}&middot;{% else %},{% endif%}
                            {% endfor %}
                            {% endif %}
                            {{ post.date.strftime('%a %d %B %Y') }}
                        </p>
                    </header>
                </section>
                {% endfor %}

                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
